/* Classes */
.site-header {
    position: relative;
	box-shadow: none;
}
.site-header div {
	display: block;
    width: 100%;
}
.site-title, .button-list {
    float: none;
}
.site-title a h1 {
	font-size: 1.2em;
}
.button-list ul li {
    float: none;
}

section {
  margin: 0 auto;
  border-radius: 8px;
}
.blog-link-container {
  display: block;
  width: 80%;
  height: 56px;
  margin: 8px auto;
}

.site-footer {
    box-shadow: none;
}
.site-footer .container {
    padding: 4px;
	font-size: 0.86em;
}
