/* Classes */
.site-header {
    position: relative;
	box-shadow: none;
}
.site-header div {
	display: block;
    width: 100%;
}
.site-title, .button-list {
    float: none;
}
.site-title a h1 {
	font-size: 1.2em;
}
.button-list ul li {
    float: none;
}

.site-footer {
    box-shadow: none;
}
.site-footer .container {
    padding: 4px;
	font-size: 0.86em;
}
