/* Fonts */
@font-face {
  font-family: "Iranian Sans";
  src: url("irsans.ttf");
}

/* Elements */
html, body {
  margin: 0;
  height: 100%;
  direction: ltr;
  background: radial-gradient(circle at 50% 0, #393e46, #222831 18em), #222831;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #eeeeee;
}

body {
  font-family: "Iranian Sans", "Droid Sans Arabic", "Helvetica", "sans-serif";
}

section {
  transition: opacity 2s;
  padding: 1.5em 0;
}

a, a:visited, a:hover {
  color: inherit;
  background-color: transparent;
  text-decoration: inherit;
}

/* Special Elements */
#last-posts {
  direction: rtl;
}

#weblog-posts .title, #repositories .title {
  text-align: center;
  letter-spacing: 16px;
  font-weight: bold;
  font-size: 1.4em;
  text-shadow: 0 0 1px rgba(255,255,255,0.6);
  padding-bottom: 16px;
}

.blog-link-container {
  display: inline-block;
  width: calc( 50% - 26px );
  height: 64px;
  margin: 8px 12px;
  border-radius: 8px;
  background-color: #393e46;
  transition: all 0.4s;
}

.blog-link-container:hover {
  background-color: #00adb5;
  box-shadow: 0px 0px 32px #00adb5;
}

.blog-link-container span {
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

/* Classes */

.container {
  padding-bottom: 66px;
  position: relative;
  min-height: calc(100% - 66px);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.site-header {
  height: 60px;
}

.site-header div div {
  display: inline-block;
}

.site-title a h1 {
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 60px;
  white-space: nowrap;
  transition: all 0.08s;
}

.turned-off {
  color: rgba(192,192,192,0.6);
  text-shadow: none;
}

.site-title:hover a h1, .turned-on {
  color: white;
  text-shadow: 0 0 3px #CCC
}

.button-list {
  float: right;
}

.button, .button:visited {
  padding: 8px 12px;
  line-height: 60px;
  transition: all 0.2s;
  color: #00adb5;
  font-weight: bold;
}

.button:hover, .button:focus {
  background-color: #00adb5;
  color: #eeeeee;
  box-shadow: 0 0 7px #00adb5;
}

.site-footer {
  height: 42px;
  background-color: #393e46;
  padding: 12px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #eeeeee;
  text-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.site-footer a, .site-footer a:visited {
  color: #00adb5;
}
