@for $n from 1 through 6
    h#{$n}
        font-family: inherit
        font-weight: normal

.button
    border-color: black
    color: black
    background-color: white

    &:hover
        background-color: black
        color: white
